[Unit]
Description=Run spotify-widget.service every 30 seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=30s
AccuracySec=1s
Unit=spotify-widget.service

[Install]
WantedBy=timers.target
